@page
@model IndexModel
@{
    ViewData["Title"] = "Caderno de compras";
}

<div class="text-center">
    <h1 class="display-4">Organize sua lista de compras</h1>
    <p>
        Caderno de listagem de produtos a serem comprados
    </p>
</div>
